body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(116, 237, 246, 0.21);
    margin: 0;
    padding: 0;
    color: #333;
}
.container {
    max-width: 1000px;
    margin: 80px auto;
    padding: 20px;
    background: linear-gradient(to right top, rgba(255, 218, 185, 0.8), rgba(255, 192, 203, 0.8));
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
h3 {
    text-align: center;
    color: #FF6347;
    font-size: 2.5rem;
    margin-bottom: 40px;
}
hr {
    border: none;
    border-top: 2px solid #FF6347;
    margin-bottom: 30px;
}
.movie-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    counter-reset: movie-counter;
}
.movie-list li {
    position: relative;
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    counter-increment: movie-counter;
    background: linear-gradient(to right, rgba(255, 182, 193, 0.7), rgba(255, 228, 181, 0.7));
    margin-bottom: 20px;
    border-radius: 15px;
}
.movie-list li:last-child {
    border-bottom: none;
}
.movie-list li::before {
    content: counter(movie-counter) ". ";
    color: #FF6347;
    font-weight: bold;
    position: absolute;
    left: 20px;
    font-size: 26px;
}
.wrapper {
    display: flex;
    align-items: center;
}
.left {
    flex: 1;
    margin-left: 50px;
}
.right {
    margin-left: auto;
}
.movie-name {
    font-size: 1.8rem;
    color: #800000;
    font-weight: bold;
    margin-bottom: 5px;
}
.movie-cast {
    font-weight: bold;
    color: #FFA500;
    font-style: italic;
}
.purchase-button {
    display: inline-block;
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background: linear-gradient(to right, #FFD700, #FFA500);
    color: #fff;
    transition: background-color 0.3s;
}
.purchase-button:hover {
    background: linear-gradient(to right, #FF8C00, #FF6347);
}
