body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(81, 239, 196, 0.2);
    margin: 0;
    padding: 0;
    color: #5d5d5d;
}
.container {
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    background-color: rgba(105, 252, 239, 0.39);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
h3 {
    text-align: center;
    color: #f44336;
    font-size: 2.5rem;
    margin-bottom: 40px;
}
hr {
    border: none;
    border-top: 2px solid #f44336;
    margin-bottom: 30px;
}
.movie-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    counter-reset: movie-counter;
}
.movie-list li {
    position: relative;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid #e0e0e0;
    counter-increment: movie-counter;
}
.movie-list li:last-child {
    border-bottom: none;
}
.movie-list li::before {
    content: counter(movie-counter) ". ";
    color: #f44336;
    font-weight: bold;
    position: absolute;
    left: 20px;
}
.wrapper{
    height: 70px;
}
.left{
    float: left;
    display: inline;
    margin-left: 50px;
    height: 70px;
    width: 585px;
}
.right{
    float: right;
    display: inline;
    height: 70px;
    margin-left: 0;
}
.movie-name {
    font-size: 1.8rem;
    color: #65057a;
    font-weight: bold;
    display: block;
}
.movie-cast {
    color: #ff9800;
    margin-top: 10px;
    width: auto;
}
.purchase-button {
    display: block;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff9800;
    color: #fff;
    transition: background-color 0.3s;
}
.purchase-button:hover {
    background-color: #f44336;
}