body {
    font-family: Arial, sans-serif;
    background-color: rgba(200, 150, 50, 0.3);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.5rem;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加标题文字阴影 */
    background: linear-gradient(to right, orange, #ef4e7b); /* 使用渐变背景色 */
    padding: 20px; /* 增加标题内边距 */
    border-radius: 20px; /* 增加标题边框圆角 */
    margin-bottom: 30px; /* 增加标题下方外边距 */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 800px;
    margin: 80px auto;
    padding: 40px;
    background-color: rgba(200, 150, 50, 0.3);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* 增加阴影 */
}

.movie-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.movie-item {
    margin-bottom: 30px; /* 增加电影项之间的垂直间距 */
    padding: 20px;
    border: 2px solid rgba(255, 105, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.rank {
    font-weight: bold;
    margin-bottom: 10px;
}

.rank-1 {
    color: red;
}

.rank-2 {
    color: green;
}

.rank-3 {
    color: blue;
}

.movie-info {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.movie-cover {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px; /* 增加电影封面和详情之间的水平间距 */
}

.movie-details {
    flex: 1;
}

.movie-title {
    font-size: 24px;
    margin-bottom: 10px; /* 增加标题和演员列表之间的垂直间距 */
}

.movie-cast {
    font-size: 18px;
    color: #333;
}

.movie-rating {
    font-size: 20px;
    color: #f60;
    margin-bottom: 20px; /* 增加评分和下一个电影项之间的垂直间距 */
}

.rank-number {
    font-size: 5rem; /* 增加序号的字体大小 */
    font-weight: bold;
    color: rgba(255, 105, 0, 0.5); /* 降低序号的对比度，使其作为背景 */
    position: absolute;
    top: -10px; /* 调整序号的位置 */
}
.container a {
    text-decoration: none;
    color: #000;
}
