body {
    font-family: Arial, sans-serif;
    background-color: rgba(200, 150, 50, 0.3);
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 2.5rem;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 标题文字阴影 */
    background: linear-gradient(to right, orange, #ef4e7b); /* 标题背景渐变 */
    padding: 10px 20px; /* 标题内边距 */
    border-radius: 10px; /* 标题边框圆角 */
    margin-bottom: 30px; /* 标题下方的外边距 */
    text-align: center; /* 标题居中 */
    display: flex; /* 使用Flexbox布局 */
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
}
.container {
    max-width: 800px;
    margin: 80px auto;
    padding: 50px;
    background-color: rgba(200, 150, 50, 0.3);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.movie-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.movie-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid rgba(255, 105, 0, 0.3);
    border-radius: 4px;
    overflow: hidden;
    position: relative; /* 为序号添加定位 */
    padding-left: 100px; /* 为序号留出空间 */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.movie-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.rank {
    font-weight: bold;
    margin-bottom: 10px;
}
.rank-1 {
    color: red;
}
.rank-2 {
    color: green;
}
.rank-3 {
    color: blue;
}
.movie-info {
    display: flex;
    align-items: center;
}
.movie-cover {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
}
.movie-details {
    flex: 1;
}
.movie-title {
    font-size: 24px;
    margin-bottom: 5px;
}
.movie-cast {
    font-size: 18px;
    color: #333;
}
.movie-rating {
    font-size: 20px;
    color: #f60;
    margin-bottom: 10px;
}
.rank-number {
    font-size: 5rem; /* 巨大的序号字体大小 */
    font-weight: bold;
    color: darkorange; /* 降低序号的对比度，使其作为背景 */
    position: absolute; /* 绝对定位 */
    top: 0; /* 根据需要调整位置 */
    left: 0; /* 根据需要调整位置 */
}
a{
    text-decoration: none;
    color: #000;
}