body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    color: red;
}

.container {
    max-width: 800px;
    margin: 200px auto;
    text-align: center;
}

h2 {
    font-size: 8rem;
    letter-spacing: 60px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    font-size: 20px;
    padding: 20px 40px;
    margin: 50px 50px;
    background-color: #007bff; /* 按钮背景颜色 */
    color: #fff; /* 按钮文字颜色 */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3; /* 鼠标悬停时的按钮背景颜色 */
}
