<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影详情页</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/movie_info.css' %}">
</head>
<body>
    <div class="navbar">
        <a class="cinema_name" href="{% url 'index' %}?user_id={{ user.user_id }}">视成影院</a>
        <a href="{% url 'ranking' user.user_id %}">电影排行榜</a>
        <a href="{% url 'movies' user.user_id %}">所有电影</a>
        <a href="{% url 'history' user.user_id %}">历史订单</a>

        {% if user.user_id == 1 %}
            <a href="{% url 'box_office' %}">票房统计</a>
            <a href="{% url 'score' %}">评分统计</a>
        {% endif %}

        <a href="{% url 'welcome' %}">退出登录</a>
        <div class="username">用户：{{ user.username }}</div>
    </div>

    <div class="container">
        <a class="return" href="{% url 'movies' user_id %}">返回</a>
        <div class="showinfo">
            <h2>电影详情</h2>
            <a href="{% url 'showinfo' user_id movie.movie_id %}">查看已确认的放映信息</a>
        </div>
        <hr>
        <img src="{% static movie.img %}">
        <div class="movie-details">
            <p>电影名称: <span class="movie-title">{{ movie.movie_name }}</span></p>
            <p>主演: {{ movie.starring }}</p>
            <p>上映日期: {{ movie.release_datetime }}</p>
            <p>网络评分: <span class="movie-rating">{{ movie.score }}</span></p>
        </div>
        <a href="{% url 'rooms' user_id movie.movie_id %}" class="buy">购票</a>
    </div>
</body>
</html>