<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影排行榜</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="cinema_name">视成影院</div>
        <a href="{% url 'ranking' user.user_id %}">电影排行榜</a>
        <a href="{% url 'movies' user.user_id %}">所有电影</a>
        <a href="{% url 'history' user.user_id %}">历史订单</a>

        {% if user.user_id == 1 %}
            <a href="{% url 'box_office' %}">票房统计</a>
            <a href="{% url 'score' %}">评分统计</a>
        {% endif %}

        <a href="{% url 'welcome' %}">退出登录</a>
        <div class="username">用户：{{ user.username }}</div>
    </div>

    <div class="container">
        <h2>电影排行榜</h2>
        <ul class="movie-list">
            {% for movie in top10 %}
                <a href="{% url 'movieinfo' user_id movie.4 %}">
                <li class="movie-item {% if forloop.counter0 < 3 %}rank-{{ forloop.counter }}{% endif %}">
                    <div class="rank-number">{{ forloop.counter }}</div>
                    <div class="movie-info">
                        <img class="movie-cover" src="{% static movie.3 %}" alt="{{ movie.1 }}">
                        <div class="movie-details">
                            <h3 class="movie-title">{{ movie.1 }}</h3>
                            <p class="movie-cast">主演：{{ movie.2 }}</p>
                            <p class="movie-rating">评分：{{ movie.0 }}</p>
                        </div>
                    </div>
                </li>
                </a>
            {% endfor %}
        </ul>
    </div>
</body>
</html>