<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影排行榜</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}">
</head>
<body>
    <div class="container">
        <h2>电影排行榜</h2>
        <ul class="movie-list">
            {% for movie in top10 %}
                <a href="{% url 'movieinfo' user_id movie.4 %}">
                <li class="movie-item {% if forloop.counter0 < 3 %}rank-{{ forloop.counter }}{% endif %}">
                    <div class="rank-number">{{ forloop.counter }}</div>
                    <div class="movie-info">
                        <img class="movie-cover" src="{% static movie.3 %}" alt="{{ movie.1 }}">
                        <div class="movie-details">
                            <h3 class="movie-title">{{ movie.1 }}</h3>
                            <p class="movie-cast">主演：{{ movie.2 }}</p>
                            <p class="movie-rating">评分：{{ movie.0 }}</p>
                        </div>
                    </div>
                </li>
                </a>
            {% endfor %}
        </ul>
    </div>
</body>
</html>