<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>电影评价</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/valuation.css' %}">
</head>
<body>
    <div class="navbar">
        <a class="cinema_name" href="{% url 'index' %}?user_id={{ user.user_id }}">视成影院</a>
        <a href="{% url 'ranking' user.user_id %}">电影排行榜</a>
        <a href="{% url 'movies' user.user_id %}">所有电影</a>
        <a href="{% url 'history' user.user_id %}">历史订单</a>

        {% if user.user_id == 1 %}
            <a href="{% url 'box_office' %}">票房统计</a>
            <a href="{% url 'score' %}">评分统计</a>
        {% endif %}

        <a href="{% url 'welcome' %}">退出登录</a>
        <div class="username">用户：{{ user.username }}</div>
    </div>

    <div class="container">
        <h1>请为电影打分: {{ movie.movie_name }}</h1>
        <div class="rating-buttons">
            {% for i in '0123456789' %}
            <button type="button" class="rating-button" id="rating-{{ i }}">{{ i }}</button>
            {% endfor %}
            <button type="button" class="rating-button" id="rating-10">10</button>
        </div>
        <form id="rating-form" method="post" action="{% url 'submit_rating' ticket_id %}">
            {% csrf_token %}
            <input type="hidden" id="rating-value" name="rating" value="">
            <input type="submit" value="提交评分">
        </form>
    </div>

    <script>
        // 获取所有评分按钮
        const buttons = document.querySelectorAll('.rating-button');
        // 获取提交表单的URL
        const formAction = document.getElementById('rating-form').action;

        // 为每个评分按钮添加点击事件
        buttons.forEach(button => {
            button.addEventListener('click', function() {
                document.getElementById('rating-value').value = button.textContent;
                const x = document.querySelector('.chosen');
                if(x) x.classList.remove('chosen');
                button.classList.add('chosen');
            });
        });
    </script>
</body>
</html>